@import 'variables';

.card {
  width: 100%;
  background: $dark-secondary-color;
  color: $white-color;
  border-radius: 2px;

  &.blog {
    margin-bottom: 40px;
    @media only screen and (max-width: $breakpoint-sm) {
      border-radius: 0;
      margin-bottom: 25px;
    }
  }

  .card-body {
    padding: 20px;
  }

  .card-title {
    font-weight: 500;
    margin-bottom: 20px;

    &.blog {
      text-transform: uppercase;

      @media only screen and (max-width: $breakpoint-sm) {
        font-size: 22px;
        margin-bottom: 15px;
      }

      @media only screen and (max-width: $breakpoint-xs) {
        font-size: 18px;
      }
    }
  }

  .card-link {
    text-decoration: none;
    color: inherit
  }

  .card-post {
    line-height: 1.5;

    @media only screen and (max-width: $breakpoint-sm) {
      font-size: 16px;
    }
    @media only screen and (max-width: $breakpoint-xs) {
      font-size: 14px;
    }
  }

  .card-img {
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    &.blog {
      max-height: 375px;
      object-fit: cover;

      @media only screen and (max-width: $breakpoint-sm) {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
    }
  }
}
