@import 'variables';

/* custom variables and configs */

// $grid-columns:      12;
// $grid-gutter-width: 30px;

// $grid-breakpoints: (
//   // Extra small screen / phone
//   xs: 0,
//   // Small screen / phone
//   sm: 576px,
//   // Medium screen / tablet
//   md: 768px,
//   // Large screen / desktop
//   lg: 992px,
//   // Extra large screen / wide desktop
//   xl: 1200px
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px
// );


$grid-columns: 12;
$screens: (
  "extra-large": "xl",
  "large": "lg",
  "medium": "md",
  "small": "sm",
  "extra-small": "xs"
);

$max-width-container-fluid: 100%;
$max-width-container-xl: 1140px;
$max-width-container-lg: 960px;
$max-width-container-md: 720px;
$max-width-container-sm: 540px;

/* end custom variables and configs */

/* */

@mixin container-base {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container {
  @include container-base;
  max-width: $max-width-container-xl;

}

.container-fluid {
  max-width: $max-width-container-fluid;
  @include container-base;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

/* */

/* grid generator */

@for $i from 1 through $grid-columns {

  @each $screenType in map-values($screens) {
    $size: 100% / $grid-columns;
    $sizeColumn: $size * $i;

    @if $screenType == xs {
      .col-#{$i} {
        width: $sizeColumn;
      }
    }

    @else {
      .col-#{$screenType}-#{$i} {
        width: $sizeColumn;

        @if $screenType == xl {
          @media only screen and (max-width: $breakpoint-lg) {
            width: 100%;
          }
        }

        @if $screenType == lg {
          @media only screen and (max-width: $breakpoint-md) {
            width: 100%;
          }
        }

        @if $screenType == md {
          @media only screen and (max-width: $breakpoint-sm) {
            width: 100%;
          }
        }

        @if $screenType == sm {
          @media only screen and (max-width: $breakpoint-xs) {
            width: 100%;
          }
        }
      }
    }
  }
}

/* end grid generator */
