@import 'variables';

.menu-mobile {
  display: none;

  @media only screen and (max-width: $breakpoint-sm) {
    display: flex;
    transform: translateX(-100%);
  }

  &.open {
    @media only screen and (max-width: $breakpoint-sm) {
      transform: translateX(0%);
    }
  }

  @media only screen and (max-width: $breakpoint-sm) {
    width: 280px;
    height: 100vh;
    background: $dark-secondary-color;
    flex-direction: column;
    position: absolute;
  }
}

.btn-menu-mobile {
  display: none;
  @media only screen and (max-width: $breakpoint-sm) {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    padding: 13px 20px;
    font-size: 12px;
    background: $light-slate-blue-color;
    cursor: pointer;
  }
}
