/* breakpoints */

$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;

/* end breakpoints */

/* colors */

$white-color: #ffffff;
$black-color: #000000;
$black-with-transparency: rgba(0,0,0,.1);
$red-color: #e01129;
$light-slate-blue-color: #7d5fff;
$dark-color: #202020;
$dark-primary-color: #1f272c;
$dark-secondary-color: #36393F;
// $dark-primary-color: #111111;

/* end colors */
